#dropdown {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em;
    background-color: #111111;
    color: white;
    font-family: sans-serif;
}

.slidecontainer {
    width: 100%;
}

.slider {
    width: 100%;
}

/*text styling for slider*/
details > summary {
    width: 200px;
    border: none;
    cursor: pointer;
}

h1 {
    font-family: "Copperplate";
    background-color: lightgray;
    position: absolute;
    text-align: center;
    border-radius: 10px;
    border-width: thick;
    top: 50%;
    left: 32%;
}

h2 {
    text-align: center;
}

.centered {
	/*put a box around the career title */
	text-align: center;
	border-style: solid;
	border-width: medium;
	border-radius: 5px;
	background-color: #aaa;
}
